force-app/main/default/flows/Assessment_Form_Picker_Menu_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Count_Existing_Forms_of_Type</name>
        <label>Count Existing Forms of Type</label>
        <locationX>818</locationX>
        <locationY>690</locationY>
        <actionName>CountRecordsAndFields</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Has_Form_Already</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>disco__Form__c</typeValue>
        </dataTypeMappings>
        <inputParameters>
            <name>fieldName</name>
            <value>
                <stringValue>TemplateAssessmentType__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldValue</name>
            <value>
                <elementReference>Loop_through_Form_Templates.AssessmentType__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Get_Existing_Forms</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>GetClientTaskSheetURL</name>
        <label>GetClientTaskSheetURL</label>
        <locationX>1502</locationX>
        <locationY>238</locationY>
        <actionName>SL_DocumentClientTaskSheet</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_ClientTaskSheetIsNull</targetReference>
        </connector>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>LoadClientTaskSheet</name>
        <label>LoadClientTaskSheet</label>
        <locationX>1463</locationX>
        <locationY>969</locationY>
        <actionName>c:loadWebPage</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>GetClientTaskSheetURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Navigate_to_Form</name>
        <label>Navigate to Form</label>
        <locationX>50</locationX>
        <locationY>1152</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>UpdateScreen</targetReference>
        </connector>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <stringValue>/apex/disco__CompleteForm?id={!NewFormId}&amp;retURL={!recordId}</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>UpdateScreen</name>
        <label>UpdateScreen</label>
        <locationX>203</locationX>
        <locationY>949</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AddClientTaskSheet</name>
        <label>AddClientTaskSheet</label>
        <locationX>1632</locationX>
        <locationY>463</locationY>
        <assignmentItems>
            <assignToReference>VAR_FormTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>text_DownloadClientTaskSheet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_FormIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:download</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_FormTemplateIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ClientTaskSheet</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_FormDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Download template</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Template_Count_Assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>1174</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>VAR_FormTemplateNames</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Form_Templates.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_FormIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:edit_form</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_FormTemplateIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Form_Templates.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_FormDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_through_Form_Templates.Version_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Form_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CDPAS_Form_to_FormId</name>
        <label>CDPAS_Form to FormId</label>
        <locationX>941</locationX>
        <locationY>1122</locationY>
        <assignmentItems>
            <assignToReference>NewFormId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_CDPAS_Form</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Navigate_to_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Template_Collections</name>
        <label>Clear Template Collections</label>
        <locationX>51</locationX>
        <locationY>495</locationY>
        <assignmentItems>
            <assignToReference>VAR_FormTemplateNames</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>VAR_FormTemplateNames</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_FormIcons</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>VAR_FormIcons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_FormTemplateIDs</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>VAR_FormTemplateIDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VAR_FormDescription</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>VAR_FormDescription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Existing_Forms</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Existing_Forms_Count</name>
        <label>Existing Forms Count</label>
        <locationX>858</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>ExisitingFormCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_Forms</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Form_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Form_to_FormId</name>
        <label>Form to FormId</label>
        <locationX>940</locationX>
        <locationY>1262</locationY>
        <assignmentItems>
            <assignToReference>NewFormId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Form_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Navigate_to_Form</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Template_Count</name>
        <label>Template Count</label>
        <locationX>900</locationX>
        <locationY>144</locationY>
        <assignmentItems>
            <assignToReference>TemplateCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Templates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Proceed_or_Not</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Template_Count_Assign</name>
        <label>Template Count</label>
        <locationX>1631</locationX>
        <locationY>332</locationY>
        <assignmentItems>
            <assignToReference>TemplateCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>VAR_FormTemplateIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Show_Templates</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_CDPAS_Selected</name>
        <label>CDPAS Selected</label>
        <locationX>1325</locationX>
        <locationY>1080</locationY>
        <defaultConnector>
            <targetReference>Create_Form_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_CDPAS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Form_Template.AssessmentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDPAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_CDPAS_Form</targetReference>
            </connector>
            <label>Is CDPAS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ClientTaskSheetIsNull</name>
        <label>Client Task Sheet Is Null</label>
        <locationX>1471</locationX>
        <locationY>423</locationY>
        <defaultConnector>
            <targetReference>AddClientTaskSheet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_ClientTaskSheetIsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetClientTaskSheetURL</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Template_Count_Assign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsClientTaskSheet</name>
        <label>Is Client Task Sheet</label>
        <locationX>1895</locationX>
        <locationY>977</locationY>
        <defaultConnector>
            <targetReference>Get_Form_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_Is_Client_Task_Sheet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VAR_SelectedFormTemplate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>text_DownloadClientTaskSheet</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoadClientTaskSheet</targetReference>
            </connector>
            <label>Is Client Task Sheet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_CDPAS_Case_Decision</name>
        <label>Has CDPAS Case</label>
        <locationX>1250</locationX>
        <locationY>837</locationY>
        <defaultConnector>
            <targetReference>Loop_through_Form_Templates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_CDPAS_Case_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Assessment_Checklist.CDPAS_Case__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>HasForms</targetReference>
            </connector>
            <label>Has CDPAS Case</label>
        </rules>
    </decisions>
    <decisions>
        <name>Has_Form_Already</name>
        <label>Has Form Already</label>
        <locationX>815</locationX>
        <locationY>524</locationY>
        <defaultConnector>
            <targetReference>Assign_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_Form_Already_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count_Existing_Forms_of_Type.matchedNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Form_Templates</targetReference>
            </connector>
            <label>Has Form Already</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasForms</name>
        <label>HasForms</label>
        <locationX>971</locationX>
        <locationY>705</locationY>
        <defaultConnector>
            <targetReference>Assign_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>HasFormsOutcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExisitingFormCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Existing_Forms_of_Type</targetReference>
            </connector>
            <label>HasForms</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CDPAS_Template</name>
        <label>Is CDPAS Template</label>
        <locationX>1608</locationX>
        <locationY>751</locationY>
        <defaultConnector>
            <targetReference>HasForms</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCDPASTemplate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_through_Form_Templates.AssessmentType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CDPAS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_CDPAS_Case_Decision</targetReference>
            </connector>
            <label>Is CDPAS Template</label>
        </rules>
    </decisions>
    <decisions>
        <name>Proceed_or_Not</name>
        <label>Proceed or Not</label>
        <locationX>1126</locationX>
        <locationY>233</locationY>
        <defaultConnector>
            <targetReference>No_templates_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_is_greater_than_Zero</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Forms</targetReference>
            </connector>
            <label>Count is greater than Zero</label>
        </rules>
    </decisions>
    <decisions>
        <name>Show_Templates</name>
        <label>Show Templates</label>
        <locationX>1708</locationX>
        <locationY>217</locationY>
        <defaultConnector>
            <targetReference>No_templates_available</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Show_Templates_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemplateCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Form_Picker</targetReference>
            </connector>
            <label>Show Templates</label>
        </rules>
    </decisions>
    <interviewLabel>Assessment Form Picker Menu Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assessment Form Picker Menu Flow V3</label>
    <loops>
        <name>Loop_through_Form_Templates</name>
        <label>Loop through Form Templates</label>
        <locationX>1368</locationX>
        <locationY>332</locationY>
        <collectionReference>Get_All_Templates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_CDPAS_Template</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetClientTaskSheetURL</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_CDPAS_Form</name>
        <label>Create CDPAS Form</label>
        <locationX>1119</locationX>
        <locationY>1078</locationY>
        <connector>
            <targetReference>CDPAS_Form_to_FormId</targetReference>
        </connector>
        <inputAssignments>
            <field>Assessment_Checklist__c</field>
            <value>
                <elementReference>Get_Assessment_Checklist.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>disco__Form_Account__c</field>
            <value>
                <elementReference>Get_Assessment_Checklist.Case__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>disco__Form_Case__c</field>
            <value>
                <elementReference>Get_Assessment_Checklist.CDPAS_Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>disco__Form_Contact__c</field>
            <value>
                <elementReference>Get_Assessment_Checklist.Case__r.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>disco__Form_Template__c</field>
            <value>
                <elementReference>Get_Form_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <object>disco__Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Form_Record</name>
        <label>Create Form Record</label>
        <locationX>1333</locationX>
        <locationY>1262</locationY>
        <connector>
            <targetReference>Form_to_FormId</targetReference>
        </connector>
        <inputAssignments>
            <field>Assessment_Checklist__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>disco__Form_Account__c</field>
            <value>
                <elementReference>Get_Assessment_Checklist.Case__r.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>disco__Form_Case__c</field>
            <value>
                <elementReference>Get_Assessment_Checklist.Case__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>disco__Form_Contact__c</field>
            <value>
                <elementReference>Get_Assessment_Checklist.Case__r.Account.PersonContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>disco__Form_Template__c</field>
            <value>
                <elementReference>Get_Form_Template.Id</elementReference>
            </value>
        </inputAssignments>
        <object>disco__Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Templates</name>
        <label>Get All Templates</label>
        <locationX>772</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Template_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Include_in_Form_Picker_Menu__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>disco__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Use</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChecklistRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assessment_Checklist.Record_Type_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>disco__Form_Template__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assessment_Checklist</name>
        <label>Get Assessment Checklist</label>
        <locationX>770</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Templates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Assessment_Checklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Forms</name>
        <label>Get Existing Forms</label>
        <locationX>671</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Forms_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Assessment_Checklist__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>disco__Form__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Form_Template</name>
        <label>Get Form Template</label>
        <locationX>1631</locationX>
        <locationY>1078</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_CDPAS_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VAR_SelectedFormTemplate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Include_in_Form_Picker_Menu__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>disco__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Use</stringValue>
            </value>
        </filters>
        <filters>
            <field>ChecklistRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Assessment_Checklist.Record_Type_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>disco__Form_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Form_Picker</name>
        <label>Form_Picker</label>
        <locationX>2095</locationX>
        <locationY>1076</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Decision_IsClientTaskSheet</targetReference>
        </connector>
        <fields>
            <name>Form_Picker_Menu_Instant</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>VAR_FormIcons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>VAR_FormTemplateNames</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>VAR_FormDescription</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VAR_SelectedFormTemplate</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_templates_available</name>
        <label>No templates available</label>
        <locationX>1438</locationX>
        <locationY>124</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_templates</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;No assessment templates available&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>991</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Assessment_Checklist</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>SelectAssessmentHeaderTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Select a New Assessment</text>
    </textTemplates>
    <variables>
        <name>ExisitingFormCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>GetFormTemplate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NewFormId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TemplateCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>text_DownloadClientTaskSheet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Client Task Sheet (XLS)</stringValue>
        </value>
    </variables>
    <variables>
        <name>VAR_FormDescription</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_FormIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_FormTemplateIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_FormTemplateNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VAR_SelectedFormTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
