force-app/main/default/flows/BE_Request_Renewed_Referral.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Expiring_Referral_Email</name>
        <label>Send Expiring Referral Email</label>
        <locationX>1178</locationX>
        <locationY>50</locationY>
        <actionName>Referral__c.Ref_ExpiringMedicaidReferral</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>f_ReferralId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Parent_Case_Populated</name>
        <label>Parent Case Populated</label>
        <locationX>433</locationX>
        <locationY>52</locationY>
        <defaultConnector>
            <targetReference>Referral_Id_Populated</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_Case_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>v_ParentCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Case_Info</targetReference>
            </connector>
            <label>Yes - Parent Case Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Referral_Id_Populated</name>
        <label>Referral Id Populated</label>
        <locationX>822</locationX>
        <locationY>49</locationY>
        <defaultConnector>
            <targetReference>Send_Expiring_Referral_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Not_Populated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>f_ReferralId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>f_ReferralId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No - Not Populated</label>
        </rules>
    </decisions>
    <description>Automation from SF-991/1103 for sending an email alert to the related referral owner when BE Next Steps = &quot;Corrected, Awaiting New Referral&quot; OR &quot;Not Corrected, Awaiting New Referral&quot;</description>
    <formulas>
        <name>f_ReferralId</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!v_ParentReferralId})),{!v_ParentReferralId},
IF(NOT(ISBLANK({!v_ReferralId})),{!v_ReferralId},&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>BE Request Renewed Referral {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BE Request Renewed Referral</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Case_Info</name>
        <label>Get Case Info</label>
        <locationX>225</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Parent_Case_Populated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>v_ParentCaseId</assignToReference>
            <field>ParentId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_ReferralId</assignToReference>
            <field>Referral__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Case_Info</name>
        <label>Get Parent Case Info</label>
        <locationX>624</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Referral_Id_Populated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_ParentCaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>v_ParentReferralId</assignToReference>
            <field>Referral__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Case_Info</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>tt_Script_NoConfirmationSuccess</name>
        <text>&lt;p&gt;An email has Not been sent to the Owner of the Related Referral.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click the Previous button below if you change your mind.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Button_No</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Button_Yes</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ParentCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ParentReferralId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_ReferralId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
