force-app/main/default/flows/Benefit_Navigator_Outreach_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Calculate_Next_Outreach_Due_Date</name>
        <label>Calculate Next Outreach Due Date</label>
        <locationX>786</locationX>
        <locationY>544</locationY>
        <actionName>SL_DateTimeService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>New_Benefit_Navigator_Outreach_Attempt</targetReference>
        </connector>
        <inputParameters>
            <name>quantity</name>
            <value>
                <elementReference>Get_Max_Outreach_Attempts.CadenceQuantity__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceDate</name>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>units</name>
            <value>
                <elementReference>Get_Max_Outreach_Attempts.CadenceUnit__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Mail_to_Email_Alert</name>
        <label>Send Mail to Email Alert</label>
        <locationX>682</locationX>
        <locationY>801</locationY>
        <actionName>Outreach_Attempt__c.OA_MailInfo</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>v_OutreachAttemptId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <choices>
        <name>Choice_AlternatePhone</name>
        <choiceText>Alternate Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternate Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CallLater</name>
        <choiceText>Call Back Later</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call Back Later</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_CurrentHomePhone</name>
        <choiceText>Current Phone: {!v_HomePhone}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current Home Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_MailInfo</name>
        <choiceText>Mail Information</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mail Information</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_MailTo_Alternate</name>
        <choiceText>Alternate</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternate</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_MailTo_CurrentHome</name>
        <choiceText>Current Home: {!f_CurrentHome}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current Home</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_MailTo_CurrentMailing</name>
        <choiceText>Current Mailing: {!f_CurrentMailing}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Current Mailing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Maybe</name>
        <choiceText>Maybe</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Maybe</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_None</name>
        <choiceText>--None--</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Choice_NotInterestedinFU</name>
        <choiceText>Not Interested in Follow Up</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not Interested in Follow Up</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_NotMovingForward</name>
        <choiceText>Prospect Not Moving Forward</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prospect Not Moving Forward</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_OD_AlreadyEnrolled</name>
        <choiceText>Already Enrolled with CPHL</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Already Enrolled with CPHL</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_OD_ClosedOther</name>
        <choiceText>Closed-Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed-Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_OD_Deceased</name>
        <choiceText>Deceased</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deceased</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_OD_FURequest</name>
        <choiceText>Follow-Up Requested</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Follow-Up Requested</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_OD_NoInterest</name>
        <choiceText>No Interest</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Interest</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_OD_UTR</name>
        <choiceText>Unable to Reach</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>UTR</stringValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Y</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Continue_to_SOA</name>
        <label>Continue to SOA</label>
        <locationX>160</locationX>
        <locationY>783</locationY>
        <defaultConnector>
            <targetReference>Mail_Information</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue to SOA - No</defaultConnectorLabel>
        <rules>
            <name>Yes_Continue_to_SOA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PermissionLSAFU</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_SOA</targetReference>
            </connector>
            <label>Continue to SOA - Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mail_Information</name>
        <label>Mail Information</label>
        <locationX>387</locationX>
        <locationY>797</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Mail_Info</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>InformationMailed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_Yes</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Reason_For_Not_Continuing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Choice_MailInfo</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Mail_to_Email_Alert</targetReference>
            </connector>
            <label>Yes Mail Info</label>
        </rules>
    </decisions>
    <decisions>
        <name>Where_did_we_start</name>
        <label>Where did we start?</label>
        <locationX>688</locationX>
        <locationY>15</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Started at Member</defaultConnectorLabel>
        <rules>
            <name>Started_at_Opp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <label>Started at Opp</label>
        </rules>
    </decisions>
    <description>Updated for SF-1114.  Includes Create SOA</description>
    <dynamicChoiceSets>
        <name>pc_SpokeTo</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SpokeTo__c</picklistField>
        <picklistObject>Outreach_Attempt__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>f_AccountId</name>
        <dataType>String</dataType>
        <expression>IF(Left({!recordId},3) = &quot;006&quot;,{!Get_Account_ID_from_Opp.Account.Id},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>f_AlternateCity_CreateValue</name>
        <dataType>String</dataType>
        <expression>IF({!InfoMailedAddressType}={!Choice_MailTo_CurrentHome},{!rv_CurrentHome.City__c},
IF({!InfoMailedAddressType}={!Choice_MailTo_CurrentMailing},{!rv_CurrentMailing.City__c},
{!v_MailToCity}))</expression>
    </formulas>
    <formulas>
        <name>f_AlternatePostalCode_CreateValue</name>
        <dataType>String</dataType>
        <expression>IF({!InfoMailedAddressType}={!Choice_MailTo_CurrentHome},{!rv_CurrentHome.PostalCode__c},
IF({!InfoMailedAddressType}={!Choice_MailTo_CurrentMailing},{!rv_CurrentMailing.PostalCode__c},
{!v_MailToPostalCode}))</expression>
    </formulas>
    <formulas>
        <name>f_AlternateState_CreateValue</name>
        <dataType>String</dataType>
        <expression>IF({!InfoMailedAddressType}={!Choice_MailTo_CurrentHome},{!rv_CurrentHome.State__c},
IF({!InfoMailedAddressType}={!Choice_MailTo_CurrentMailing},{!rv_CurrentMailing.State__c},
{!v_MailToState}))</expression>
    </formulas>
    <formulas>
        <name>f_AlternateStreet_CreateValue</name>
        <dataType>String</dataType>
        <expression>IF({!InfoMailedAddressType}={!Choice_MailTo_CurrentHome},{!rv_CurrentHome.Street__c},
IF({!InfoMailedAddressType}={!Choice_MailTo_CurrentMailing},{!rv_CurrentMailing.Street__c},
{!v_MailToStreet}))</expression>
    </formulas>
    <formulas>
        <name>f_CommunicateIssuetoManager_CreateValue</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Communicate_Issue_to_Manager}=TRUE,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>f_CurrentHome</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!v_CurrentHome}),&quot;&quot;,{!rv_CurrentHome.Street__c} &amp; &quot;, &quot; &amp; {!rv_CurrentHome.City__c} &amp; &quot;, &quot; &amp; {!rv_CurrentHome.State__c} &amp; &quot; &quot; &amp; {!rv_CurrentHome.PostalCode__c})</expression>
    </formulas>
    <formulas>
        <name>f_CurrentMailing</name>
        <dataType>String</dataType>
        <expression>IF(ISNULL({!v_CurrentMailing}),&quot;&quot;,{!rv_CurrentMailing.Street__c} &amp; &quot;, &quot; &amp; {!rv_CurrentMailing.City__c} &amp; &quot;, &quot; &amp; {!rv_CurrentMailing.State__c} &amp; &quot; &quot; &amp; {!rv_CurrentMailing.PostalCode__c})</expression>
    </formulas>
    <formulas>
        <name>f_CurrentUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} &amp; &quot; &quot; &amp; {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>If blank sets the Last Outreach Attempt number to 0</description>
        <name>f_LastOutreachAttemptNumber</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!v_LastOutreachAttemptNumber}),0,{!v_LastOutreachAttemptNumber})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_LastUTRAttemptNumber</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!v_LastUTRAttemptNumber}),0,{!v_LastUTRAttemptNumber})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_LossReason_Opp</name>
        <dataType>String</dataType>
        <expression>IF(AND({!f_Stage_Opp}=&quot;Closed Lost&quot;,{!f_OutreachDisposition} = &quot;UTR&quot;),&quot;Unable to Reach&quot;,
IF(AND({!f_Stage_Opp}=&quot;Closed Lost&quot;,{!f_OutreachDisposition} = &quot;Deceased&quot;),&quot;Deceased&quot;,
IF(AND({!f_Stage_Opp}=&quot;Closed Lost&quot;,{!f_OutreachDisposition} = &quot;No Interest&quot;),&quot;No Interest&quot;,
IF(AND({!f_Stage_Opp}=&quot;Closed Lost&quot;,{!f_OutreachDisposition} = &quot;Closed-Other&quot;),&quot;Other&quot;,
IF(AND({!f_Stage_Opp}=&quot;Closed Lost&quot;,{!f_OutreachDisposition} = &quot;Already Enrolled with CPHL&quot;),&quot;Already Enrolled with CPHL&quot;,&quot;&quot;)))))</expression>
    </formulas>
    <formulas>
        <name>f_NewAuthorizedRep_CreateValue</name>
        <dataType>Boolean</dataType>
        <expression>IF({!New_Authorized_Rep}=TRUE,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>f_NextOutreachDate_Opp</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Requested_Outreach_Date})),{!Requested_Outreach_Date},
IF(NOT(ISBLANK({!Next_Follow_Up_Date})),{!Next_Follow_Up_Date},
IF(AND({!f_OutreachDisposition}=&quot;UTR&quot;,{!f_UTRAttemptCount}={!Get_Max_Outreach_Attempts.MaxAttemptCount__c}),null,
IF(AND({!f_OutreachDisposition}=&quot;UTR&quot;,{!f_UTRAttemptCount}&lt;{!Get_Max_Outreach_Attempts.MaxAttemptCount__c},ISBLANK({!Next_Outreach_Date_FUR})),{!Calculate_Next_Outreach_Due_Date}
,{!Next_Outreach_Date_FUR}))))</expression>
    </formulas>
    <formulas>
        <name>f_NextOutreachDueDate</name>
        <dataType>Date</dataType>
        <expression>IF(NOT(ISBLANK({!Next_Outreach_Date_FUR})),{!Next_Outreach_Date_FUR},
IF(NOT(ISBLANK({!Next_Follow_Up_Date})),{!Next_Follow_Up_Date},
IF(AND({!f_OutreachDisposition}=&quot;UTR&quot;,{!f_UTRAttemptCount}&lt;{!Get_Max_Outreach_Attempts.MaxAttemptCount__c}),{!Calculate_Next_Outreach_Due_Date}
,null)))</expression>
    </formulas>
    <formulas>
        <name>f_NoMedicareContact_CreateValue</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Member_requested_not_to_be_contacted_regarding_Medicare}=TRUE,TRUE,FALSE)</expression>
    </formulas>
    <formulas>
        <name>f_OpportunityId</name>
        <dataType>String</dataType>
        <expression>IF(Left({!recordId},3) = &quot;006&quot;, {!recordId},&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <description>Counts number of Outreach Attempts and is only applied when the Disposition = UTR</description>
        <name>f_OutreachAttempt_Count</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!v_LastOutreachAttemptNumber}),0+1,1+{!v_LastOutreachAttemptNumber})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_OutreachDisposition</name>
        <dataType>String</dataType>
        <expression>IF({!SpokeTo.value}=&quot;Voicemail&quot;,&quot;UTR&quot;,
IF({!SpokeTo.value}=&quot;No answer&quot;,&quot;UTR&quot;,
IF(AND({!SpokeTo.value}=&quot;Prospect or authorized rep&quot;,{!PermissionLSAFU}={!Choice_Yes}),&quot;Confirmed Interest&quot;,
IF({!Outreach_Disposition_NoLSA_NoMail_Button}&lt;&gt; &quot;&quot;,{!Outreach_Disposition_NoLSA_NoMail_Button},
IF({!Outreach_Dispostion_Maybe_MailInfo}&lt;&gt; &quot;&quot;,{!Outreach_Dispostion_Maybe_MailInfo},
IF({!Member_requested_not_to_be_contacted_regarding_Medicare}=TRUE,&quot;No Interest&quot;,

IF({!Outreach_Disposition_NotProspect_Button}={!Choice_OD_UTR},&quot;UTR&quot;,
IF({!Outreach_Disposition_NotProspect_Button} &lt;&gt; &quot;&quot;,{!Outreach_Disposition_NotProspect_Button},	
IF(AND({!SpokeTo.value}=&quot;Prospect or authorized rep&quot;,{!PermissionLSAFU}={!Choice_No},{!InformationMailed}={!Choice_Yes},{!PermissionLSAFU2}={!Choice_Yes}),&quot;Confirmed Interest&quot;,

IF(AND({!SpokeTo.value}=&quot;Prospect or authorized rep&quot;,{!PermissionLSAFU}={!Choice_Maybe},{!Reason_For_Not_Continuing}={!Choice_MailInfo},{!PermissionLSAFU2}={!Choice_Yes}),&quot;Follow-Up Requested&quot;,

IF(AND({!SpokeTo.value}=&quot;Prospect or authorized rep&quot;,{!PermissionLSAFU}={!Choice_Maybe},{!Reason_For_Not_Continuing}={!Choice_CallLater}),&quot;Follow-Up Requested&quot;,

IF(AND({!SpokeTo.value}=&quot;Prospect or authorized rep&quot;,{!PermissionLSAFU}={!Choice_No},{!InformationMailed}={!Choice_No}),&quot;No Interest&quot;,&quot;&quot;))))))))))))</expression>
    </formulas>
    <formulas>
        <name>f_OutreachUTRAttempt_CreateValue</name>
        <dataType>Number</dataType>
        <expression>IF({!f_OutreachDisposition}=&quot;UTR&quot;,{!f_UTRAttemptCount},0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>f_RequestedInfoMailed</name>
        <dataType>String</dataType>
        <expression>IF(OR({!Reason_For_Not_Continuing}={!Choice_MailInfo},{!InformationMailed}= {!Choice_Yes}),&quot;Y&quot;,
IF({!InformationMailed}= {!Choice_No},&quot;N&quot;,&quot;&quot;))</expression>
    </formulas>
    <formulas>
        <name>f_Stage_Opp</name>
        <dataType>String</dataType>
        <expression>IF({!f_OutreachDisposition} =&quot;Deceased&quot;,&quot;Closed Lost&quot;,
IF({!f_OutreachDisposition} =&quot;Closed-Other&quot;,&quot;Closed Lost&quot;,
IF({!f_OutreachDisposition} =&quot;Already Enrolled with CPHL&quot;,&quot;Closed Lost&quot;,
IF({!f_OutreachDisposition} =&quot;No Interest&quot;,&quot;Closed Lost&quot;,
IF(AND({!f_OutreachDisposition} =&quot;UTR&quot;,{!f_OutreachAttempt_Count}={!Get_Max_Outreach_Attempts.MaxAttemptCount__c}),&quot;Closed Lost&quot;,TEXT({!Get_Account_ID_from_Opp.StageName}))))))</expression>
    </formulas>
    <formulas>
        <name>f_UTRAttemptCount</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!f_LastUTRAttemptNumber}),0+1,1+{!f_LastUTRAttemptNumber})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Benefit Navigator Outreach Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MSS Outbound Educational Outreach</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Outreach_Attempt</name>
        <label>Create Outreach Attempt</label>
        <locationX>385</locationX>
        <locationY>544</locationY>
        <assignRecordIdToReference>v_OutreachAttemptId</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>f_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AlternateMailToCity__c</field>
            <value>
                <elementReference>f_AlternateCity_CreateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AlternateMailToState__c</field>
            <value>
                <elementReference>f_AlternateState_CreateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AlternateMailToStreet__c</field>
            <value>
                <elementReference>f_AlternateStreet_CreateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AlternateMailToZipPostalCode__c</field>
            <value>
                <elementReference>f_AlternatePostalCode_CreateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AttemptNumber__c</field>
            <value>
                <elementReference>f_OutreachAttempt_Count</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AuthorizedRepName__c</field>
            <value>
                <elementReference>Name_of_Authorized_Rep</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments__c</field>
            <value>
                <elementReference>Call_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommunicateMLTCIssuetoManager__c</field>
            <value>
                <elementReference>f_CommunicateIssuetoManager_CreateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailtoAddressType__c</field>
            <value>
                <elementReference>InfoMailedAddressType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewAuthorizedRep__c</field>
            <value>
                <elementReference>f_NewAuthorizedRep_CreateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextOutreachDue__c</field>
            <value>
                <elementReference>f_NextOutreachDueDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NotesAboutMLTCServices__c</field>
            <value>
                <elementReference>Notes_about_Service_s</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>f_OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OtherDispositionReason__c</field>
            <value>
                <elementReference>Other_Disposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutreachDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OutreachDisposition__c</field>
            <value>
                <elementReference>f_OutreachDisposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissiontoDiscussMLTCServices__c</field>
            <value>
                <elementReference>DiscussPlans</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissiontoHaveLSAContact2__c</field>
            <value>
                <elementReference>PermissionLSAFU2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissiontoHaveLSAContact__c</field>
            <value>
                <elementReference>PermissionLSAFU</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PersonSpokenTo__c</field>
            <value>
                <elementReference>Name_of_Person_Spoken_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Outreach_RecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationshiptoMember__c</field>
            <value>
                <elementReference>Relationship_of_Authorized_Rep_to_Member</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedInfoMailed__c</field>
            <value>
                <elementReference>f_RequestedInfoMailed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedNoMedicareContact__c</field>
            <value>
                <elementReference>f_NoMedicareContact_CreateValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequestedOutreachDate__c</field>
            <value>
                <elementReference>Requested_Outreach_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SpokeTo__c</field>
            <value>
                <elementReference>SpokeTo.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTRAttemptNumber__c</field>
            <value>
                <elementReference>f_OutreachUTRAttempt_CreateValue</elementReference>
            </value>
        </inputAssignments>
        <object>Outreach_Attempt__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_ID_from_Opp</name>
        <label>Get Account ID from Opp</label>
        <locationX>176</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_Info</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Info</name>
        <label>Get Account Info</label>
        <locationX>402</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Home</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>v_CurrentHome</assignToReference>
            <field>CurrentHomeAddress__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_CurrentMailing</assignToReference>
            <field>CurrentMailingAddress__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_HomePhone</assignToReference>
            <field>PersonHomePhone</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_AccountSalutation</assignToReference>
            <field>Salutation</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Home</name>
        <label>Get Current Home</label>
        <locationX>599</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Current_Mailing</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_CurrentHome</elementReference>
            </value>
        </filters>
        <object>Member_Address__c</object>
        <outputReference>rv_CurrentHome</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>PostalCode__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Mailing</name>
        <label>Get Current Mailing</label>
        <locationX>784</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Outreach_RecordTypeId</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>v_CurrentMailing</elementReference>
            </value>
        </filters>
        <object>Member_Address__c</object>
        <outputReference>rv_CurrentMailing</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Street__c</queriedFields>
        <queriedFields>City__c</queriedFields>
        <queriedFields>State__c</queriedFields>
        <queriedFields>PostalCode__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Last_UTR_Outreach_Attempt</name>
        <label>Get Last UTR Outreach Attempt</label>
        <locationX>1171</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Script_Component_Variables</targetReference>
        </connector>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_OpportunityId</elementReference>
            </value>
        </filters>
        <object>Outreach_Attempt__c</object>
        <outputAssignments>
            <assignToReference>v_LastOutreachAttemptNumber</assignToReference>
            <field>AttemptNumber__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>v_LastUTRAttemptNumber</assignToReference>
            <field>UTRAttemptNumber__c</field>
        </outputAssignments>
        <sortField>AttemptNumber__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Max_Outreach_Attempts</name>
        <label>Get Max Outreach Attempts</label>
        <locationX>973</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Next_Outreach_Due_Date</targetReference>
        </connector>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Benefit Navigator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Outreach_Configuration__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Outreach_RecordTypeId</name>
        <label>Get Outreach RecordTypeId</label>
        <locationX>965</locationX>
        <locationY>340</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Last_UTR_Outreach_Attempt</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Benefit_Navigator_Outreach</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Outreach_Attempt__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Script_Component_Variables</name>
        <label>Get Script Component Variables</label>
        <locationX>1171</locationX>
        <locationY>544</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Max_Outreach_Attempts</targetReference>
        </connector>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Benefit Navigator Outreach</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Flow_Script_Component__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>168</locationX>
        <locationY>544</locationY>
        <connector>
            <targetReference>Continue_to_SOA</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>f_OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>LossReasonIfOther__c</field>
            <value>
                <elementReference>Other_Disposition</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Reason__c</field>
            <value>
                <elementReference>f_LossReason_Opp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MedicareSupportSpecialistOwnershipDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NextFollowUpDate__c</field>
            <value>
                <elementReference>f_NextOutreachDate_Opp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>f_Stage_Opp</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>New_Benefit_Navigator_Outreach_Attempt</name>
        <label>New Benefit Navigator Outreach Attempt</label>
        <locationX>571</locationX>
        <locationY>545</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Outreach_Attempt</targetReference>
        </connector>
        <fields>
            <name>DisplayHeader_MSSOutbound</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;MSS Outbound Educational Outreach&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayScript_UTRAttemptCount</name>
            <fieldText>&lt;p&gt;Previous UTR Attempts: {!f_LastUTRAttemptNumber} of {!Get_Max_Outreach_Attempts.MaxAttemptCount__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HeaderDisplay_Blank</name>
            <extensionName>c:SL_SectionHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue> </stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>HeaderDisplay_Introduction</name>
            <extensionName>c:SL_SectionHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Introduction</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayScript_Salutation</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_Salutation</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>SpokeTo</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Radio</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Picklist Field</stringValue>
                </value>
            </inputParameters>
			<inputParameters>
                <name>masterLabel</name>
                <value>
                    <stringValue>Spoke To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Outreach_Attempt__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>SpokeTo__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>Get_Outreach_RecordTypeId.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>DisplayScript_Rapport</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_Rapport</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No answer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HeaderDisplay_BenefitInfo</name>
            <extensionName>c:SL_SectionHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Benefit Information</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No answer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_Plans</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_DiscussMLTCServices</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No answer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DiscussPlans</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No answer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_MLTCServices_YES</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_DiscussMLTCServices_YES</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No answer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DiscussPlans</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HeaderDisplay_TransitPOC</name>
            <extensionName>c:SL_SectionHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Transition to the SOA</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No answer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DiscussPlans</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_POC</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_PointOfCall</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No answer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DiscussPlans</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PermissionLSAFU</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_Maybe</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No answer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DiscussPlans</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_LSAFU1_Yes</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_LSAFU_Yes</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PermissionLSAFU</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_LSAFU1_Maybe</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_LSAFU_Maybe</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PermissionLSAFU</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Maybe</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reason_For_Not_Continuing</name>
            <choiceReferences>Choice_CallLater</choiceReferences>
            <choiceReferences>Choice_MailInfo</choiceReferences>
            <choiceReferences>Choice_NotMovingForward</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Reason For Not Continuing</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PermissionLSAFU</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Maybe</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_LSAFU1_NO_Reasons</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_LSAFU_No_Validation</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PermissionLSAFU</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_LSAFU1_NO</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_InfoMailed</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PermissionLSAFU</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InformationMailed</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mail Information</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PermissionLSAFU</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_WhereToSendMail</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_WheretoSendMail</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>InformationMailed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_For_Not_Continuing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_MailInfo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_Phone</name>
            <choiceReferences>Choice_CurrentHomePhone</choiceReferences>
            <choiceReferences>Choice_AlternatePhone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Phone</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Not_Continuing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_CallLater</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AlternatePhone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Alternate Phone</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Select_Phone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_AlternatePhone</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>InfoMailedAddressType</name>
            <choiceReferences>Choice_MailTo_CurrentHome</choiceReferences>
            <choiceReferences>Choice_MailTo_CurrentMailing</choiceReferences>
            <choiceReferences>Choice_MailTo_Alternate</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Address</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>InformationMailed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_For_Not_Continuing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_MailInfo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MailtoAddress</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Alternate Address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>v_MailToCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>v_MailToPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>v_MailToState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>v_MailToStreet</assignToReference>
                <name>street</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>InfoMailedAddressType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_MailTo_Alternate</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_LSAFU2</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_LSAFU2</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>InformationMailed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_For_Not_Continuing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_MailInfo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PermissionLSAFU2</name>
            <choiceReferences>Choice_Yes</choiceReferences>
            <choiceReferences>Choice_No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>InformationMailed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_For_Not_Continuing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_MailInfo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_LSAFU2_Yes</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_LSAFU2_Yes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PermissionLSAFU2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_SpokeTo_Voicemail</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_SpokeTo_Voicemail</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>f_UTRAttemptCount</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>Get_Max_Outreach_Attempts.MaxAttemptCount__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_SpokeTo_NotProspect</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_SpokeTo_NotProspect</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>f_UTRAttemptCount</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>Get_Max_Outreach_Attempts.MaxAttemptCount__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Name_of_Person_Spoken_To</name>
            <dataType>String</dataType>
            <fieldText>Name of Person Spoken To</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>New_Authorized_Rep</name>
            <dataType>Boolean</dataType>
            <fieldText>New Authorized Rep?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Name_of_Authorized_Rep</name>
            <dataType>String</dataType>
            <fieldText>Name of Authorized Rep</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_Authorized_Rep</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Relationship_of_Authorized_Rep_to_Member</name>
            <dataType>String</dataType>
            <fieldText>Relationship of Authorized Rep to Member</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>New_Authorized_Rep</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Next_Follow_Up_Date</name>
            <dataType>Date</dataType>
            <fieldText>Next Follow-Up Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Reason_For_Not_Continuing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_CallLater</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Requested_Outreach_Date</name>
            <dataType>Date</dataType>
            <fieldText>Requested Outreach Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Date cannot be in the past&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Requested_Outreach_Date}&gt;=TODAY()</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>(1 AND 2 AND 3) OR (3 AND 4 AND 2)</conditionLogic>
                <conditions>
                    <leftValueReference>PermissionLSAFU</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PermissionLSAFU2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DiscussPlans</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_For_Not_Continuing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_MailInfo</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_LSA2_No</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Border_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Icon_Color__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Utility_Icon__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_LSAFU2_No</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>PermissionLSAFU2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>DiscussPlans</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_For_Not_Continuing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_NotMovingForward</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HeaderDisplay_LogOutreachAttempt</name>
            <extensionName>c:SL_SectionHeader</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>heading</name>
                <value>
                    <stringValue>Log Outreach Attempt</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>DisplayScript_SpokeTo_Voicemail_OD</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Outreach Disposition:&lt;/b&gt; Voicemail&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_SpokeTo_NA_OD</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Outreach Disposition:&lt;/b&gt; No Answer&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No answer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Member_requested_not_to_be_contacted_regarding_Medicare</name>
            <dataType>Boolean</dataType>
            <fieldText>Member requested not to be contacted regarding Medicare</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>DiscussPlans</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InformationMailed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PermissionLSAFU2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_For_Not_Continuing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_NotMovingForward</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Outreach_Disposition_NoLSA_NoMail_Button</name>
            <choiceReferences>Choice_OD_FURequest</choiceReferences>
            <choiceReferences>Choice_OD_AlreadyEnrolled</choiceReferences>
            <choiceReferences>Choice_OD_NoInterest</choiceReferences>
            <choiceReferences>Choice_OD_ClosedOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outreach Disposition</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR (2 AND 5) OR 3) AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>DiscussPlans</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>InformationMailed</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Reason_For_Not_Continuing</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_NotMovingForward</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Member_requested_not_to_be_contacted_regarding_Medicare</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>PermissionLSAFU</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Outreach_Dispostion_Maybe_MailInfo</name>
            <choiceReferences>Choice_NotInterestedinFU</choiceReferences>
            <choiceReferences>Choice_OD_AlreadyEnrolled</choiceReferences>
            <choiceReferences>Choice_OD_NoInterest</choiceReferences>
            <choiceReferences>Choice_OD_ClosedOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outreach Dispostion</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>PermissionLSAFU2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_No</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Member_requested_not_to_be_contacted_regarding_Medicare</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Outreach_Disposition_NotProspect_Button</name>
            <choiceReferences>Choice_OD_UTR</choiceReferences>
            <choiceReferences>Choice_OD_Deceased</choiceReferences>
            <choiceReferences>Choice_OD_ClosedOther</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Outreach Disposition</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Next_Outreach_Date_FUR</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Calculate_Next_Outreach_Due_Date</elementReference>
            </defaultValue>
            <fieldText>Next Follow-Up Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Date cannot be in the past&lt;/p&gt;</errorMessage>
                <formulaExpression>{!Next_Outreach_Date_FUR}&gt;=TODAY()</formulaExpression>
            </validationRule>
            <visibilityRule>
                <conditionLogic>(1 OR 2) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>Outreach_Disposition_NoLSA_NoMail_Button</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OD_FURequest</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Outreach_Disposition_NotProspect_Button</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OD_UTR</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>f_UTRAttemptCount</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>Get_Max_Outreach_Attempts.MaxAttemptCount__c</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Other_Disposition</name>
            <dataType>String</dataType>
            <fieldText>Other Disposition</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Outreach_Disposition_NoLSA_NoMail_Button</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OD_ClosedOther</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Outreach_Disposition_NotProspect_Button</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OD_ClosedOther</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Outreach_Dispostion_Maybe_MailInfo</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OD_ClosedOther</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_SpokeTo_VMNA</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <stringValue>#FFB75D</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <stringValue>#FFB75D</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>textsize</name>
                <value>
                    <elementReference>Get_Script_Component_Variables.Text_Size__c</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>event</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_NextOutreachDue</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>((1 OR 2) AND 4) OR ((3 AND 5) AND 4 AND 6 AND 7 AND 8)</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No answer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Outreach_Disposition_NotProspect_Button</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OD_ClosedOther</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>f_UTRAttemptCount</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <elementReference>Get_Max_Outreach_Attempts.MaxAttemptCount__c</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Outreach_Disposition_NotProspect_Button</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OD_Deceased</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayScript_MaxUTR_Note</name>
            <extensionName>c:SL_ScriptBlock</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconcolor</name>
                <value>
                    <stringValue>rgb(255,183,93)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>bordercolor</name>
                <value>
                    <stringValue>rgb(255,183,93)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>callscript</name>
                <value>
                    <elementReference>tt_Script_MaxOutreach</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>(1 OR 2 OR 4) AND 3</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>No answer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>f_UTRAttemptCount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Get_Max_Outreach_Attempts.MaxAttemptCount__c</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Outreach_Disposition_NotProspect_Button</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice_OD_UTR</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notes_about_Service_s</name>
            <fieldText>Notes about Service(s)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No answer</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Communicate_Issue_to_Manager</name>
            <dataType>Boolean</dataType>
            <fieldText>Communicate Issue to Care Manager</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Not prospect or authorized rep</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Voicemail</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>SpokeTo.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>No answer</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NotesAboutServiceReportIssue</name>
            <fieldText>&lt;p&gt;&lt;i&gt;Please ensure that you&apos;ve filled out the Notes about Service(s) field above.&lt;/i&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Communicate_Issue_to_Manager</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Call_Notes</name>
            <fieldText>Call Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>DisplayScript_MaxUTR</name>
            <fieldText>&lt;p&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>138</locationY>
        <connector>
            <targetReference>Get_Account_ID_from_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_SOA</name>
        <label>Create SOA</label>
        <locationX>170</locationX>
        <locationY>960</locationY>
        <flowName>Create_SOA</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>f_OpportunityId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_OutreachAttemptId</name>
            <value>
                <elementReference>v_OutreachAttemptId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_SpokeTo</name>
            <value>
                <stringValue>Prospect or authorized rep</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>v_StartedFromFlow</name>
            <value>
                <stringValue>MSS</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>tt_Script_AdditionalMLTCServices</name>
        <text>&lt;p&gt;{!v_AccountSalutation} {!v_AccountName} now that we know what services you receive; I would like to tell you about some additional services that Centers Plan MLTC provides. If you think you can benefit from any of these services, you can let me know today or you can call me at any time in the future and well see if we can help you take advantage of them. [REVIEW MLTC SERVICES]&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;In-home Health Services (Nurses, Home Health Aides, Physical Therapists)&lt;/li&gt;&lt;li&gt;In-home Personal Care (Bathing, dressing, shopping)&lt;/li&gt;&lt;li&gt;Adult Day Health Care &amp;amp; Social Day Care&lt;/li&gt;&lt;li&gt;Transportation to Medical Appointments&lt;/li&gt;&lt;li&gt;Additional Services (Home-Delivered Meals, Personal Emergency Response)&lt;/li&gt;&lt;/ol&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_DiscussMLTCServices</name>
        <text>&lt;p&gt;{!v_AccountSalutation} {!v_AccountName} it is my job to make sure you are taking advantage of the services you currently receive and to help identify additional services that you may be eligible to receive.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Your full Medicaid benefits currently cover you for the needed long term care services you are receiving.  But I also see that you have Medicare which may qualify you for ADDITIONAL BENEFITS through one of our Medicare Advantage Plans.  We have TWO Medicare Advantage plans you qualify for, would you like me to provide you with an overview of each plan?&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_DiscussMLTCServices_YES</name>
        <text>&lt;p&gt;Centers Plan for Dual Coverage Care:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Our Dual Special Needs plan is a plan that give you coverage for your doctor visits, hospital stays, and prescriptions.  But this coverage goes beyond regular Medicaid and Medicare, which provides extra benefits such as, an Over the Counter card (OTC) with $140 monthly for eligible non-prescription items like vitamins, laxatives, first aid products, etc.  The plan provides you with both routine and comprehensive dental benefits, transportation coverage at no cost to you, and many other benefits.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Our other plan that you qualify for is: &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Centers Plan for Medicaid Advantage Plus&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Our Centers Plan for Medicaid Advantage Plus plan also known as MAP, this plan combines your Medicare benefits, Medicaid benefits, and your long term care benefits into one convenient plan.  This allows you to obtain all your covered coordinated services from ONE plan.  With this plan, you will be assigned a Care Manager to help coordinate all your needed services, you receive an Over the Counter card (OTC) with $120 monthly for eligible non-prescription items like vitamins, laxatives, first aid products, etc., comprehensive dental, transportation and acupuncture among other benefits at no cost to you.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_InfoMailed</name>
        <text>&lt;p&gt;Do I have your consent to mail you some educational materials?&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_LSAFU2</name>
        <text>&lt;p&gt;Would it be okay to have someone follow up in a week to answer any questions you may have?&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_LSAFU2_No</name>
        <text>&lt;p&gt;[Thank them for their time and conclude the call with &quot;Thank you for your time&quot;.]&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_LSAFU2_Yes</name>
        <text>&lt;p&gt;[Inform them that a Licensed Medicare Representative will call them a week from today, then thank them for their time and conclude the call with &quot;Thank you for your time.&quot;]&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_LSAFU_Maybe</name>
        <text>&lt;p&gt;[If at this point the prospect is not sure about which plan he/she would be interested in, go back to the BENEFIT INFO section and explain.]&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;[If they can&apos;t make a decision right now, inquire when would be the best time to contact them again.]&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;When would be a convenient time for us to call back?&lt;/li&gt;&lt;li&gt;What is your best contact number?&lt;/li&gt;&lt;li&gt;Ask if they would like some information mailed. &quot;Do I have your consent to mail you some educational materials?&quot;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_LSAFU_No_Validation</name>
        <text>&lt;p&gt;[Ask the prospect, &quot;It&apos;s been a pleasure speaking with you today, thanks so much for your time.  I hope you don&apos;t mind, but may I ask why you don&apos;t want to learn more about our plans?]&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If their concern is something similar to the following:&lt;/p&gt;&lt;ul&gt;&lt;li&gt;They assume to have to pay out of pocket costs or they thought they&apos;d have to switch PCP, Explain that a License Medicare Agent can clarify all their concerns/questions.&lt;/li&gt;&lt;li&gt;They don&apos;t want to switch their current insurer or they have union benefits in which they are satisfied with.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;[Ask if they would like some information mailed.]&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_LSAFU_Yes</name>
        <text>&lt;p&gt;[Please note: During COVID-19 circumstances we will not be offering in person appointments or visits.]&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;[COVID-19 Script]&lt;/p&gt;&lt;p&gt;With your permission, I would like to have a Licensed Medicare Representative call you to explain the plan benefits in more detail and answer any questions you may have.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;[Business as Usual Script]&lt;/p&gt;&lt;p&gt;With your permission, I would like to have a Licensed Medicare Representative call you to explain the plan benefits in more detail and answer any questions you may have or I can also set up an appointment for an agent to meet with you in person if you prefer.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;[Please note if the prospect expresses an interest in our MAP, explain that an in-person appointment is required/mandatory.]&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_MaxOutreach</name>
        <text>&lt;p&gt;This Outreach Attempt will close the Opportunity due to reaching the Max UTR Attempts.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_NextOutreachDue</name>
        <text>&lt;p&gt;The Next Outreach Attempt will be set for {!Calculate_Next_Outreach_Due_Date}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_PermissionLSAFU_Yes</name>
        <text>&lt;p&gt;Find out if they would like to have a Licensed Medicare Representative call within the next 24 hours or at some time later in the week&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_PointOfCall</name>
        <text>&lt;p&gt;Would you be interested in learning more about either of the two plans explained to you?&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_Rapport</name>
        <text>&lt;p&gt;My name is {!f_CurrentUserName}, Im a Medicare Support Specialist at Centers Plan for Healthy Livingthe company that provides your Medicaid Managed Long Term Care. I would like to thank you {!v_AccountSalutation} {!v_AccountName} for being a member with Centers Plan.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;[Build rapport here with questions and comments such as those below but avoid talking about plan specifics:]&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;How are you feeling today?&lt;/li&gt;&lt;li&gt;How is your day going?&lt;/li&gt;&lt;li&gt;I&apos;m glad you are feeling well / that your day is going well.&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_Salutation</name>
        <text>&lt;p&gt;&amp;lt;Good Morning/Good Afternoon/Good Evening&amp;gt; May I please speak to {!v_AccountSalutation} {!v_AccountName}?&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;[If it is not the member ask the caller:] Are you the member&apos;s Authorized Representative?&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_SpokeTo_NoAnswer</name>
        <text>&lt;p&gt;Set a follow-up phone call&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_SpokeTo_NotProspect</name>
        <text>&lt;p&gt;Leave a message stating your name, title and the fact that you are calling from Centers Plan for Healthy Living to thank them for being a member of our MLTC plan and to educate them about some additional plan options that they may qualify for.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Leave your contact phone number and call center hours of operation with instructions to speak to someone else if you are not available.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Do not provide any further information (HIPAA).&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;ALSO, ask for the best time to call back when {!v_AccountSalutation} {!v_AccountName} will be home and set a follow-up phone call.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_SpokeTo_Voicemail</name>
        <text>&lt;p&gt;Leave a message stating your name, title and the fact that you are calling from Centers Plan for Healthy Living to thank them for being a member of our MLTC plan and to educate them about some additional plan options that they may qualify for.&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Leave your contact phone number (718-697-6147) and call center hours of operation (9:00 am - 5:00 pm).&amp;nbsp;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please note: During AEP, Hours of Operation will be 8:00 am - 8:00 pm&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_ThankYou</name>
        <text>&lt;p&gt;Thank you for your time.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>tt_Script_WheretoSendMail</name>
        <text>&lt;p&gt;Which address would you like us to mail information to?&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rv_CurrentHome</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Member_Address__c</objectType>
    </variables>
    <variables>
        <name>rv_CurrentMailing</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Member_Address__c</objectType>
    </variables>
    <variables>
        <name>TestStringCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_AccountSalutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_CurrentHome</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_CurrentMailing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_HomePhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_LastOutreachAttemptNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>v_LastUTRAttemptNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>v_MailToCity</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_MailToPostalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_MailToState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_MailToStreet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Date Value calculated from Apex</description>
        <name>v_NextOutreachDuteDate_Calculated</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_OutreachAttemptId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
