force-app/main/default/flows/CCR_Set_AccountLookupHC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Set_AccountLookupHC</name>
        <label>Set AccountLookupHC</label>
        <locationX>50</locationX>
        <locationY>373</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountLookupHC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.HealthCloudGA__Contact__r.AccountId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Decision_Is_Person_Account</name>
        <label>Decision: Is Person Account</label>
        <locationX>182</locationX>
        <locationY>253</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Person_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HealthCloudGA__Contact__r.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_AccountLookupHC</targetReference>
            </connector>
            <label>Is Person Account</label>
        </rules>
    </decisions>
    <description>Set AccountLookupHC__c on Contact-Contact Relationship for Person Accounts</description>
    <interviewLabel>CCR: Set AccountLookupHC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CCR: Set AccountLookupHC</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Is_Person_Account</targetReference>
        </connector>
        <object>HealthCloudGA__ContactContactRelation__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
