force-app/main/default/flows/CDPAS_Pre_Enrollment_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>apex_CreateChildCDPASCase</name>
        <label>apex_CreateChildCDPASCase</label>
        <locationX>325</locationX>
        <locationY>342</locationY>
        <actionName>SL_CreateChildCaseService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screen_CaseCreated</targetReference>
        </connector>
        <inputParameters>
            <name>dohFormReceivedDate</name>
            <value>
                <elementReference>input_DOH_Form_Received_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>dohFormUploadDate</name>
            <value>
                <elementReference>input_DOH_Form_Upload_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mdDecisionSelfDirecting</name>
            <value>
                <elementReference>radio_MD_Decision_on_Self_Directing</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mdOrderExamDate</name>
            <value>
                <elementReference>input_MD_Order_Exam_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mdOrderSignatureDate</name>
            <value>
                <elementReference>input_MD_Order_Signature_Date</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>parentCaseId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>v_NewCaseId</assignToReference>
            <name>CDPASRecordId</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>newCaseSubject</assignToReference>
            <name>subject</name>
        </outputParameters>
    </actionCalls>
    <choices>
        <name>choice_No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>dec_ExistingCaseFound</name>
        <label>dec_ExistingCaseFound</label>
        <locationX>614</locationX>
        <locationY>104</locationY>
        <defaultConnector>
            <targetReference>screen_InputForm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>outcome_ExistingCaseFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_OpenCDPASCase</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_AlreadyExists</targetReference>
            </connector>
            <label>outcome_ExistingCaseFound</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pc_CDPASMDFormProvided</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CDPASMDFormProvided__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pc_MDDecisionOnSelfDirecting</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>MDDecisionOnSelfDirecting__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>CDPAS Pre-Enrollment Case {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>CDPAS Pre-Enrollment Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_OpenCDPASCase</name>
        <label>get_OpenCDPASCase</label>
        <locationX>243</locationX>
        <locationY>25</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dec_ExistingCaseFound</targetReference>
        </connector>
        <filters>
            <field>CDPASProcessingType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pre-Enrollment</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>screen_AlreadyExists</name>
        <label>screen_AlreadyExists</label>
        <locationX>615</locationX>
        <locationY>378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text_AlreadyExists</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;An open CDPAS Pre-Enrollment Case already exists:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>navigate_ExistingCase</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <elementReference>get_OpenCDPASCase.Subject</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>LastElement</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <stringValue>/{!get_OpenCDPASCase.Id}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_CaseCreated</name>
        <label>screen_CaseCreated</label>
        <locationX>336</locationX>
        <locationY>536</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>text_NewCaseInfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60);&quot;&gt;CDPAS Pre-Enrollment Case successfully created:&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>navigate_NewCase</name>
            <extensionName>navbutton:NavigationButton</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>AutoStart</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttonVarient</name>
                <value>
                    <stringValue>base</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>NavigateToUrl</name>
                <value>
                    <stringValue>/{!v_NewCaseId}</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Label</name>
                <value>
                    <elementReference>newCaseSubject</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_InputForm</name>
        <label>screen_InputForm</label>
        <locationX>86</locationX>
        <locationY>228</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>apex_CreateChildCDPASCase</targetReference>
        </connector>
        <fields>
            <name>input_CDPASMDFormProvided</name>
            <choiceReferences>choice_No</choiceReferences>
            <choiceReferences>choice_Yes</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>choice_No</defaultSelectedChoiceReference>
            <fieldText>CDPAS MD Form Provided</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>input_DOH_Form_Received_Date</name>
            <dataType>Date</dataType>
            <fieldText>DOH Form Received Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CDPASMDFormProvided</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_DOH_Form_Upload_Date</name>
            <dataType>Date</dataType>
            <fieldText>DOH Form Upload Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CDPASMDFormProvided</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MD_Order_Signature_Date</name>
            <dataType>Date</dataType>
            <fieldText>MD Order Signature Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CDPASMDFormProvided</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>input_MD_Order_Exam_Date</name>
            <dataType>Date</dataType>
            <fieldText>MD Order Exam Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CDPASMDFormProvided</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>radio_MD_Decision_on_Self_Directing</name>
            <choiceReferences>pc_MDDecisionOnSelfDirecting</choiceReferences>
            <dataType>String</dataType>
            <fieldText>MD Decision on Self-Directing</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>input_CDPASMDFormProvided</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>choice_Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_OpenCDPASCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>newCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>v_CountExistingCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>v_ExistingCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>v_NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
